<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Website/inc :: links"></head>
<body class="gradient-bg">
<div th:replace="Website/inc :: header"></div>
<main class="pt-90">
  <div class="mb-4 pb-4"></div>
  <section class="shop-checkout container">
    <h2 class="page-title">Shipping and Checkout</h2>
    <div class="checkout-steps">
      <a href="/cart" class="checkout-steps__item active">
        <span class="checkout-steps__item-number">01</span>
        <span class="checkout-steps__item-title">
            <span>Shopping Bag</span>
            <em>Manage Your Items List</em>
          </span>
      </a>
      <a href="/checkout" class="checkout-steps__item active">
        <span class="checkout-steps__item-number">02</span>
        <span class="checkout-steps__item-title">
            <span>Shipping and Checkout</span>
            <em>Checkout Your Items List</em>
          </span>
      </a>
      <a href="/order-confirmation" class="checkout-steps__item">
        <span class="checkout-steps__item-number">03</span>
        <span class="checkout-steps__item-title">
            <span>Confirmation</span>
            <em>Review And Submit Your Order</em>
          </span>
      </a>
    </div>
    <form action="/checkout" method="POST">
      <div class="checkout-form">
        <div class="billing-info__wrapper">
          <div class="row">
            <div class="col-6">
              <h4>SHIPPING DETAILS</h4>
            </div>
            <div class="col-6">
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="form-floating my-3">
                <input type="text" class="form-control" name="name" required="">
                <label for="name">Full Name *</label>
                <span class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating my-3">
                <input type="text" class="form-control" name="phone" required="">
                <label for="phone">Phone Number *</label>
                <span class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating my-3">
                <input type="text" class="form-control" name="locality" required="">
                <label for="locality">Road Name, Area, Colony *</label>
                <span class="text-danger"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout__totals-wrapper">
          <div class="sticky-content">
            <div class="checkout__totals">
              <h3>Your Order</h3>
              <table class="checkout-cart-items">
                <thead>
                <tr>
                  <th>PRODUCT</th>
                  <th align="right">SUBTOTAL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${cartItems}">
                  <td th:text="${item.name} + ' x ' + ${item.quantity}"></td>
                  <td align="right" th:text="'$' + ${item.price * item.quantity}"></td>
                </tr>
                </tbody>
              </table>

              <table class="checkout-totals">
                <tbody>
                <tr>
                  <th>SHIPPING</th>
                  <td align="right" th:text="${shippingFee == 0 ? 'Free shipping' : '$' + shippingFee}"></td>
                </tr>
                <tr>
                  <th>VAT</th>
                  <td align="right" th:text="'$' + ${vat}"></td>
                </tr>
                <tr>
                  <th>TOTAL</th>
                  <td align="right" th:text="'$' + ${total}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="checkout__payment-methods">
              <div class="form-check">
                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                       id="checkout_payment_method_1" checked>
                <label class="form-check-label" for="checkout_payment_method_1">
                  Direct bank transfer
                  <p class="option-detail">
                    Make your payment directly into our bank account. Please use your Order ID as the payment reference.
                    Your order will not be shipped until the funds have cleared in our account.
                  </p>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                       id="checkout_payment_method_2">
                <label class="form-check-label" for="checkout_payment_method_2">
                  Check payments
                  <p class="option-detail">
                    Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui.
                  </p>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                       id="checkout_payment_method_3">
                <label class="form-check-label" for="checkout_payment_method_3">
                  Cash on delivery
                  <p class="option-detail">
                    Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui.
                  </p>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                       id="checkout_payment_method_4">
                <label class="form-check-label" for="checkout_payment_method_4">
                  Paypal
                  <p class="option-detail">
                    Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui.
                  </p>
                </label>
              </div>
              <div class="policy-text">
                Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="terms.html" target="_blank">privacy policy</a>.
              </div>
            </div>

            <!-- Changed to submit button -->
            <button type="submit" class="btn btn-primary">ORDER</button>
          </div>
        </div>
      </div>
    </form>

  </section>
</main>


<div th:replace="Website/inc :: footer"></div>
</body>

</html>